.user-details-wrap {
  display: flex;
  margin: 0 0 15px 15px;
  height: 100%;
  flex: 1;
  justify-content: center;
  max-width: 1020px;
  overflow: hidden;
  position: relative;

  .pushable {
    overflow: hidden;
    width: 100%;

    .sidebar {
      z-index: 3;
    }

    .pusher {
      height: 100%;
      > .segment {
        min-width: 100px;
      }
    }
  }

  .settings-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #2c2c2c;
    border-radius: 5px;

    .segment {
      min-width: 100%;

      .ttl {
        color: #fff;

        div {
          display: flex;
          align-items: center;
        }
      }

      .content {
        flex: 1;

        .content-item {
          margin-bottom: 10px;

          button {
            width: 70px;
          }

          span {
            color: #fff;
          }

          display: flex;
          flex-direction: column;
        }
      }

      .footer {
        display: flex;
        flex-direction: column;

        .label {
          margin: 0;

          i {
            margin: 0;
          }
        }

        button {
          margin: 5px 0 0 0;
          color: #fff;
          background: var(--primary-color);

          &:hover {
            color: #fff;
            background: var(--primary-color);
          }
        }
      }
    }
  }

  .segment {
    flex: 1;
    max-width: 100%;
    min-width: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;

    .ttl {
      display: flex;
      justify-content: space-between;

      .icon-wrap {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .row-wrap {
        align-items: center;
        .winnings-withdrawal-wrap {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          div {
            line-height: 5px;
            height: 13px;

            span {
              font-size: 12px;
              text-align: right;
              margin: 0 2px;
              min-width: 65px;
              display: inline-block;

              &:last-child {
                min-width: 59px;
              }
            }
          }
        }
      }
    }

    .user-details-content-wrap {
      overflow: auto;
      flex: 1;
      margin-top: 7px;

      .mon-wrap {
        .ttl-wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;

          h3,
          h4 {
            margin: 0;
          }
        }

        .week-wrap {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin-bottom: 25px;

          .week {
            aspect-ratio: 1;
            height: 150px;
            margin: 7px;
            border-radius: 10px;
            padding: 5px 10px;
            background: #2a2a2a;
            display: flex;
            flex-direction: column;
            position: relative;

            .has-withdrawal {
              background: red;
              position: absolute;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              right: 5px;
              cursor: pointer;

              &.yellow {
                background: var(--yellow-dark);
              }

              &.blue {
                background: var(--blue-light);
              }

              &.green {
                background: var(--green-dark);
              }
            }

            .week-date {
              align-items: center;
              display: flex;
              height: 30px;
            }

            .week-content {
              flex: 1;
              display: flex;
              flex-direction: column;

              .row-wrap {
                display: flex;
                justify-content: space-between;
                flex: 1;
                align-items: center;

                span {
                  &:nth-child(2) {
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .winnings {
    color: var(--green-dark) !important;
  }

  .losses {
    color: var(--red-dark) !important;
  }

  .approx {
    color: var(--yellow-dark) !important;
  }
}
