.users-wrap {
  display: flex;
  margin: 15px;
  justify-content: center;
  flex: 1;

  .segment {
    flex: 1;
    min-width: 525px;
    margin: 0;
    display: flex;
    flex-direction: column;


    @media only screen and (max-width: 767px) {
      min-width: 280px;
      thead {
        display: none !important;
      }

      tbody {
        tr {
          position: relative;

          td {
            text-align: left !important;
          }
        }
      }

    }

    .ttl-wrap {
      .icon {
        cursor: pointer;
      }
    }

    .tbl-wrap {
      overflow: auto;
    }

    .status {
      font-weight: bold;

      &.done:before {
        color: greenyellow;
        content: "Done ";
      }

      &.in-progress:before {
        color: #fbbd08;
        content: "InProgress";
      }

      &.unknown:before {
        color: #ff5f5f;
        content: "UnKnown";
      }

      &.waiting:before {
        color: #ff5f5f;
        content: "Wating";
      }

      &.idle:before {
        color: #629dff;
        content: "Idle";
      }


    }

    tr {
      cursor: pointer;

      &.selected {

        td {
          position: relative;
          color: #e9bcff;
          z-index: 2;
          text-overflow: ellipsis;
          overflow: hidden;
          $borderColor: #8d4ffc;

          &:first-child {
            &:after {
              border-left: 5px solid $borderColor;
              content: '';
              position: absolute;
              height: 100%;
              left: 0;
              top: 0;
            }

            &.multi-select:hover {
              background: rgba(135, 75, 255, 0.3) !important;
            }

            background: rgba(135, 75, 255, 0.3);
          }

        }
      }

      td.selectable {
        $w: 30px;
        width: $w;
        min-width: $w;
        max-width: $w;

        .checkbox{
          display: flex;
          height: 100%;
        }

        input, label {
          opacity: 0 !important;
          flex: 1;
        }
      }

      td {
        height: 40px;
      }

      .win {
        color: var(--green-dark) !important;
        font-weight: bold;
      }

      .lose {
        color: var(--red-dark) !important;
        font-weight: bold;
      }
    }
  }
}
