.users-wrap {
  display: flex;
  margin: 15px;
  justify-content: center;
  flex: 1;

  .segment {
    flex: 1;
    max-width: 33%;
    min-width: 525px;
    margin: 0;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 767px) {
      min-width: 380px;
      thead {
        display: none !important;
      }

      tbody {
        tr {
          position: relative;

          .right {
            text-align: left;
          }
        }
      }

    }

    .ttl-wrap {
      .icon {
        cursor: pointer;
      }
    }

    .tbl-wrap {
      overflow: auto;
    }

    .status {
      font-weight: bold;

      &.done:before {
        color: greenyellow;
        content: "Done ";
      }

      &.in-progress:before {
        color: #fbbd08;
        content: "InProgress";
      }

      &.unknown:before {
        color: #ff5f5f;
        content: "UnKnown";
      }

      &.waiting:before {
        color: #ff5f5f;
        content: "Wating";
      }

      &.idle:before {
        color: #629dff;
        content: "Idle";
      }


    }

    tr {
      cursor: pointer;

      &.selected {


        /*td {
          position: relative;
          color: #e9bcff;
          z-index: 2;
          $borderColor: #8d4ffc;

          &:first-child {
            &:after {
              border-left: 1px solid $borderColor;
            }
          }

          &:last-child {

            &:after {
              border-right: 1px solid $borderColor;
            }
          }

          &:after {
            background: #332d3c !important;
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            border-top: 1px solid $borderColor;
            border-bottom: 1px solid $borderColor;


          }
        }*/


        td {
          position: relative;
          color: #e9bcff;
          z-index: 2;
          $borderColor: #8d4ffc;

          &:first-child {
            &:after {
              border-left: 5px solid $borderColor;
              content: '';
              position: absolute;
              height: 100%;
              left: 0;
              top: 0;
            }
          }

        }
      }
    }
  }
}
