.users-wrap {
  display: flex;
  margin: 15px;
  justify-content: center;
  flex: 1;

  .segment {
    flex: 1;
    max-width: 33%;
    min-width: 400px;
    margin: 0;
    display: flex;
    flex-direction: column;

    .ttl-wrap {
      .icon {
        cursor: pointer;
      }
    }

    .status {
      font-weight: bold;

      &.done:before {
        color: greenyellow;
        content: "Done ";
      }

      &.in-progress:before {
        color: #fbbd08;
        content: "InProgress";
      }

      &.unknown:before {
        color: #ff5f5f;
        content: "UnKnown";
      }

      &.waiting:before {
        color: #ff5f5f;
        content: "Wating";
      }


    }

    tr {
      cursor: pointer;
    }
  }
}
