@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html, body {
  height: 100%;
}

body {
  --green-light: #568e00;
  --red-light: #c30000;
  --yellow-light: #f2b400;
  --blue-light: #1c50ff;

  --green-dark: greenyellow;
  --red-dark: #ff3a3a;
  --yellow-dark: #fbbd08;


  margin: 0;
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 22px;
  min-width: auto;

  .green-dark {
    color: var(--green-dark) !important;
  }

  .red-dark {
    color: var(--red-dark) !important;
  }

  .yellow-dark {
    color: var(--yellow-dark) !important;
  }

  .green-light {
    color: var(--green-light) !important;
  }

  .red-light {
    color: var(--red-light) !important;
  }

  .yellow-light {
    color: var(--yellow-light) !important;
  }

  .blue-light {
    color: var(--blue-light) !important;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#root {
  height: 100%;
  background: rgb(14 14 14);


  .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow: auto;
    position: relative;

    .ttl {
      font-size: 23px;
      font-weight: bold;
      margin-bottom: 8px;
    }

    .content-wrap {
      position: relative;
      display: flex;
      flex: 1;
      overflow: auto;
    }

    hr {
      width: 100%;
      border-left: 0;
      border-right: 0;
      border-top: 1px solid #000;
      border-bottom: 1px solid #333;
    }

    .row-wrap {
      display: flex;
      flex-direction: row;

      &.between {
        justify-content: space-between;
      }
    }
  }


}
